body {
  background-color: rgb(216, 213, 213);
  color: rgb(54, 54, 51);
}

.d-flex {
  color: black;
}

.style-img {
  max-width:300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 253, 253, 0.1);
  transition: transform 0.3s ease-in-out;
  

}
.style-img:hover {
  transform: scale(1.1);
}


.style-img-oferta{

  max-width: 350px;
  padding: 10px;
}

.video{
  margin-bottom: 15px;
}
 